.heading{
    color: red;
}

.img{
    width: 200px;
}

.userCard{
    border: 2px solid #dddddd3b;
    width: 200px;
    margin: 10px;
    box-shadow: 1px 1px 3px 1px;
}

.textWrap{
    padding: 10px;
}