.user-list{
    display: flex;
    justify-content: space-around;
    border: 1px solid #aaa;
    margin: 0;
    padding: 10px;
    list-style: none;
}
.user-list-header{
    font-size: 20px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 400px;
    list-style: none;
}